.home__title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #960f12;
    margin: 15px;
}

.sortBy{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
}

.sortBy > button {
    cursor: pointer;
}

.sortBy-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    height: 100vh;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading > h1 {
    color: #960f12;

}

.pagination {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pagination > button {
    outline: none;
    padding: 10px 16px;
    appearance: none;
    border: 2px solid #960f12;
    background: #960f12;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    margin-right: 16px;
    cursor: pointer;
  }

  .pagination > button:hover {
    border: 2px solid #960f12;
    background: white;
    color: #960f12;
  }
